/*------------------*/
/*   fonts    */
/*-----------------*/

@font-face {
    font-family: 'yekan';
    src: url("/asset/fonts/iranyekanwebregular.woff");
}

.yekan {
    font-family: 'yekan' !important;
}

body {
    font-family: 'yekan';

}


/*-------------------------*/
/*  login   */
/*-------------------------*/

.main-login {
    width: 400px;
    height: 500px;
    overflow: hidden;
    z-index: 10;

    box-shadow: 0px 0px 20px 1px rgba(14, 14, 14, 0.6);
    border-radius: 1.3rem;
}

.main-login #chk {
    display: none;
}


.main-login .signup {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: -30px;
    justify-content: center;
    align-items: center;
}

.main-login .signup h2 {
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.main-login label {
    color: white;
    margin: 60px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 2.3em;
    transition: 0.5s ease-in-out;
}

.main-login input {
    width: 60%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    margin: 20px auto;
    padding: 20px 15px;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: yekan-reg;
}

.main-login button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    background-color: var(--clreight);
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
    font-family: 'yekan-reg';
    color: white;
}

.main-login button:hover {
    background-color: #e3bc5e;
}

.main-login .login {
    height: 460px;
    background-color: var(--clrseven);

    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .6s ease-in-out;
}

.main-login .login label {
    color: #f9f9fa;
    transform: scale(.7);
    font-family: 'yekan';
    font-weight: bold;
    font-size: 4em;
}

.main-login #chk:checked ~ .login {
    transform: translateY(-500px);
}

.main-login #chk:checked ~ .login label {
    transform: scale(1);
}

.main-login #chk:checked ~ .signup label {
    transform: scale(.6);
}

/*----------------*/
/*  core           */
/*----------------*/


.dvh100 {
    min-height: 100dvh;
}

.h100 {
    height: 100% ;
}


/* HTML: <div class="loader"></div> */
.loader1 {
    width: 40px;
    height: 40px;
    position: relative;
    --c: no-repeat linear-gradient(var(--clreight) 0 0);
    background: var(--c) center/100% 10px,
    var(--c) center/10px 100%;
}

.loader1:before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--c) 0 0,
    var(--c) 100% 0,
    var(--c) 0 100%,
    var(--c) 100% 100%;
    background-size: 15.5px 15.5px;
    animation: l16 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l16 {
    33% {
        inset: -10px;
        transform: rotate(0deg)
    }
    66% {
        inset: -10px;
        transform: rotate(90deg)
    }
    100% {
        inset: 0;
        transform: rotate(90deg)
    }
}


/* Define the scrollbar for all elements */
::-webkit-scrollbar {
    width: 0.8rem; /* Width of the scrollbar track */
    height: 0.6rem; /* Height of the scrollbar thumb */
}

/* Define the scrollbar track */
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0); /* Background color of the scrollbar track */
    border-radius: 0.3rem; /* Border radius of the scrollbar track */
}

/* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: var(--clreight); /* Background color of the scrollbar thumb */
    border-radius: 0.3rem; /* Border radius of the scrollbar thumb */
}


.paddingx {
    padding-left: 3rem;
    padding-right: 3rem;
}


.main-layout {
    /*height: 100dvh;*/
    /*width: 100dvw;*/

}

.columns {
    margin: 0;
}

.column {
    padding: 0;
    margin: 0;

}

.navbar {
    position: fixed;
    backdrop-filter: blur(0.1rem);
}

.w100 {
    width: 100% !important;
}


/*----------------*/
/*  backgrounds     */
/*----------------*/
.header {
    min-height: 81dvh;
    background-image: url('/asset/images/1.jpg');
    background-size: cover;

    position: relative;

    background-attachment: fixed;
}

.shape {
    position: absolute;
    height: 21%;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.shape-reverse {
    transform: rotateX(180deg);
}


:root {

    --clrone: #0C145E;
    --clrtwo: #ffffff;

    --clrthree: hsl(26.37deg 99.2% 49.02%);
    --clrfour: rgb(102 102 102 / 54%);
    --clrfive: rgba(255, 255, 255, 0.9);
    --clrsix: #31C1A0;


    --clrseven: #00582a;
    --clreight: #b0a159
}


/*----------------*/
/*  backgroudcolors */
/*----------------*/


.bgclrone {
    background-color: var(--clrone);
}

.textclrone {
    color: var(--clrone);
}

.bgclrtwo {
    background-color: var(--clrtwo);
}

.textclrtwo {
    color: var(--clrtwo);
}

.bgclrthree {
    background-color: var(--clrthree);
}

.bgclrfour {
    background-color: var(--clrfour);
}

.bgclrfive {
    background-color: var(--clrfive);
}

.bgclrsix {
    background-color: var(--clrsix);
}

.textclrsix {
    color: var(--clrsix);
}

.bgclrseven {
    background-color: var(--clrseven) !important;
}

.textclrseven {
    color: var(--clrseven);
}

.bgclreight {
    background-color: var(--clreight) !important;
}

.textclreight {
    color: var(--clreight);
}


/*----------------*/
/*  Animations    */
/*----------------*/

.dashboardhover:hover {
    border: 1px solid var(--clrtwo);
    transition: 0.3s ease-in-out;
}



@keyframes scroll {
    from {
        /*opacity: 0;*/
        scale: 0.75;
    }
    to {
        /*opacity: 1;*/
        scale: 1;
    }
}

.section-animation {
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.footerhover :hover {
    color: var(--clrthree);
    transition: 0.3s;

}


.underline {
    &::after {
        content: "";
        border-bottom: solid 0.1618rem var(--clrseven);

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.4s;
    }

    &:hover {
        &::after {
            transform-origin: center;
            transform: scaleX(1);
        }
    }

    @keyframes underline {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }
}


/*----------------*/
/*  Borders and margins   */
/*----------------*/


.shadowone {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.borderradone {
    border-radius: 0.3rem;
}

.borderradtwo {
    border-radius: 0.9rem;
}

.borderradtwotop {
   border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
}

.borderradleft {
    border-radius: 1.9rem 0.9rem 0.9rem 1.9rem;

}

.borderradright {
    border-radius: 0.9rem 1.9rem 1.9rem 0.9rem;
}


.borderbotblack {
    border-bottom: 3px solid var(--clrseven);
}

.borderclrsix {
    border: 1px solid var(--clrsix);
}

.borderclrseven {
    border: 1px solid var(--clrseven);
}

.borderclreight {
    border: 1px solid var(--clreight);
}

.borderbotclreight {
    border-bottom: 3px solid var(--clreight);
}

.borderclrthree {
    border-bottom: 3px solid var(--clrthree);
}


.mt-10 {
    margin-top: 10rem;
}


/*----------------*/
/*  misc    */
/*----------------*/


.profile-banner {
    height: 15rem;
}



.service-prices-box {

    min-height: 21rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-images {
    max-height: 30rem;

}



.slidercontainer {
    padding-top: 6rem;
}

.footersection {
    width: 60%;
    transform: translateY(-2rem);
    display: flex;
    align-items: center;

}

.banner {
    min-height: 16rem;
    width: 66%;
    margin-top: 15rem;
    background-color: rgb(102 102 102 / 70%);
    backdrop-filter: blur(0.3rem);
    border-radius: 1rem;
}

.abilities-content__img {
    width: 50%;
    height: 100%;
}

.our-project__img {
    height: 50%;
    width: 100%;
}

.our-project__content-box {
    height: 50%;
    width: 100%;
    padding: 3rem;
}

.our-services {
    min-height: 81dvh;
    background: url("/asset/images/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(1rem);
    padding-bottom: 8rem;
}

.how-it-work__box-item {
    flex-grow: 1;
    padding: 3rem;
    background-color: var(--clrtwo);
}


/*----------------*/
/*  responsive    */
/*----------------*/

@media screen and (min-width: 100px) and (max-width: 435px) {
    .header {
        min-height: 81dvh;
        background-image: url('/asset/images/1.jpg');
        background-size: cover;
        position: relative;
        padding-top: 6rem;


        background-attachment: fixed;
    }

    .banner {
        min-height: 16rem;
        width: 90%;
        margin-top: 0rem;

        top: 10%;
        background-color: rgb(102 102 102 / 70%);
        backdrop-filter: blur(0.3rem);
        border-radius: 1rem;
    }

    .footersection {
        width: 90%;
        transform: translateY(-4rem);
        display: flex;
        align-items: center;
    }

    .mt-10 {
        margin-top: 1rem;
    }

}