/*------------------*/
/*   fonts    */
/*-----------------*/

@font-face {
    font-family: 'kook';
    src: url("/asset/fonts/Kook-Regular.ttf");
}

.kook {
    font-family: 'kook' !important;
}

body {
    font-family: 'kook';

}

/*----------------*/
/*  core           */
/*----------------*/


.paddingx {
    padding-left: 3rem;
    padding-right: 3rem;
}


.main-layout {
    height: 100dvh;
    width: 100dvw;
}

.columns {
    margin: 0;
}

.column {
    padding: 0;
}

.navbar {
    position: fixed;
    backdrop-filter: blur(0.1rem);
}

.w100 {
    width: 100%;
}


/*----------------*/
/*  backgrounds     */
/*----------------*/
.header {
    height: 81dvh;
    background-image: url('/asset/images/1.jpg');
    background-size: cover;

    position: relative;

    background-attachment: fixed;
}

.shape {
    position: absolute;
    height: 21%;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.shape-reverse {
    transform: rotateX(180deg);
}


:root {

    --clrone: #0C145E;
    --clrtwo: #ffffff;

    --clrthree: hsl(26.37deg 99.2% 49.02%);
    --clrfour: rgb(102 102 102 / 54%);
    --clrfive: rgba(255, 255, 255, 0.81);
    --clrsix: #31C1A0;
}


/*----------------*/
/*  backgroudcolors */
/*----------------*/


.bgclrone {
    background-color: var(--clrone);
}

.bgclrtwo {
    background-color: var(--clrtwo);
}

.textclrtwo {
    color: var(--clrtwo);
}

.bgclrthree {
    background-color: var(--clrthree);
}

.bgclrfour {
    background-color: var(--clrfour);
}

.bgclrfive {
    background-color: var(--clrfive);
}

.bgclrsix {
    background-color: var(--clrsix);
}

.textclrsix {
    color: var(--clrsix);
}

/*----------------*/
/*  Animations    */
/*----------------*/


.underline {
    &::after {
        content: "";
        border-bottom: solid 0.1618rem var(--clrsix);

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.4s;
    }

    &:hover {
        &::after {
            transform-origin: center;
            transform: scaleX(1);
        }
    }

    @keyframes underline {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }
}


/*----------------*/
/*  Borders    */
/*----------------*/


.shadowone {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.borderradone {
    border-radius: 0.3rem;
}


.borderbotblack {
    border-bottom: 3px solid var(--clrsix);
}
.borderclrsix {
    border: 1px solid var(--clrsix);
}


/*----------------*/
/*  misc    */
/*----------------*/

.abilities-content__img {
    width: 50%;
    height: 100%;
}
.our-project__img{
    height: 50%;
    width: 100%;
}

.our-project__content-box{
    height: 50%;
    width: 100%;
    padding: 3rem;
}

.our-services {
    min-height: 81dvh;
    background: url("/asset/images/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.how-it-work__box-item{
    flex-grow: 1;
    padding: 3rem;
    background-color: var(--clrtwo);
}